[submodule "aerospace"]
	path = aerospace
	url = git@github.com:chubbyhippo/aerospace.git
[submodule ".ideavimrc"]
	path = .ideavimrc
	url = git@github.com:chubbyhippo/.ideavimrc.git
[submodule "init.lua"]
	path = init.lua
	url = git@github.com:chubbyhippo/init.lua.git
